:root {
  --dark-purple: #22174D;
  --primary-purple: #003CFF;

  --background-black: #141518;
  --secondary-black: #1A1B1F;

  --gray-01: #26272B;
  --gray-02: #4E525B;
  --gray-03: #838896;

  --white: #FFFFFF;

  --red: #FF4444;
  --dark-red: #2F1F1F;
}

body{
  background-color: var(--background-black);

}

/* topo da tela Home */
.topo{
  height: 96px;
  background-color: var(--background-black);
}
#perfil{
  background-color: var(--primary-purple);
  color: var(--white);
}
#agendamentos-texto{
  color: var(--white);
}
