/* variaveis do css */

:root { 
  /* cores */
  --dark-purple: #22174D;
  --primary-purple: #003CFF;

  --background-black: #141518;
  --secondary-black: #1A1B1F;

  --gray-01: #26272B;
  --gray-02: #4E525B;
  --gray-03: #838896;

  --white: #FFFFFF;

  --red: #FF4444;
  --dark-red: #2F1F1F;

  /* fontes */
  --font-primary: 'Sora', sans-serif;
  --font-secondary: 'Nunito', sans-serif;

  /* pesos */
  --font-thin: 100;
  --font-extra-light: 200;
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
  --font-extra-bold: 800;

  /* tamanhos */
  --font-size-8: 8px;
  --font-size-10: 10px;
  --font-size-12: 12px;
  --font-size-14: 14px;
  --font-size-16: 16px;
  --font-size-18: 18px;
  --font-size-20: 20px;
  --font-size-24: 24px;
  --font-size-30: 30px;
}



/* inicio do css */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: var(--font-primary);
}

body{
  background-color: var(--background-black);
}

/* topo da tela Home */
.topo {
  height: 96px;
  background-color: var(--background-black);

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 40px;
  border-bottom: 1px solid #2e2e2e; 
}


.logo{
  display: flex;
  align-items: center;
  gap: 10px;
}

.div_perfil{
  display: flex;
  align-items: center;
  gap: 20px;
}

#perfil{
  background-color: var(--primary-purple);
  color: var(--white);

  border: none;
  border-radius: 20px;

  padding: 10px 20px;
  cursor: pointer;

  font-size: var(--font-size-14);
  font-weight: var(--font-semi-bold);
}

#agendamentos-texto{
  color: var(--white);

  font-size: var(--font-size-14);
  font-weight: var(--font-regular);
}

/* Final do Topo */


/* Inicio do Centro */

.centro .agendamentos{
  padding-bottom: 20px;
  border: 1px solid;
  border-color: #FF4444;
}

.agendamentos #agendamentos-titulo{
  font-family:var(--font-secondary) ;
  font-size: 24px;
  font-weight: bold(700);
  color: var(--white)
}

.agendamentos #confirmados{
margin-top: 40px;
margin-left: 256px;
margin-right: 256px;
margin-bottom: 40px;
font-size: 12px;
font-weight: bold(700);
font-family: var(--font-secondary);
color: var(--gray-03);
}

.info-card{

border: 1px solid red;
}

.info-card #informaçoes{
background-color: var(--secondary-black);
}






/* Final do Centro */

/* --- ADAPTAÇÃO PARA CELULAR (MEDIA QUERY) --- */
@media (max-width: 600px) {
  .topo {
    height: 70px;             /* Diminui a altura do topo */
    padding: 0 16px;          /* Reduz o espaço nas laterais */
  }

  .logo img {
    height: 24px;             /* Diminui o tamanho das logos */
  }

  .div_perfil {
    gap: 12px;                /* Aproxima os itens do perfil */
  }

  #agendamentos-texto {
    display: none;            /* Esconde o texto para poupar espaço */
  }

  #perfil {
    padding: 6px 12px;        /* Diminui o tamanho do botão */
    font-size: var(--font-size-12); /* Diminui a fonte do botão */
  }
}